@import "partials";

/* NAV */
nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  @include tablet {
    height: 10vh;
  }
}

.desktop-nav {
  display: none;
  @include tablet {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1000px;
  }
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.25rem;
  & li {
    &:hover {
      transform: scale(1.1);
    }
  }
}

.logo {
  font-size: 2rem;
  &:hover {
    transform: scale(1.1);
  }
}

/* MOBILE NAV */

#hamburger-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include tablet {
    display: none;
  }
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
  & span {
    width: 100%;
    height: 2px;
    background-color: $green;
    transition: all 0.3s ease-in-out;
  }

  &.open {
    span:first-child {
      transform: rotate(45deg) translate(10px, 5px);
    }
    span:nth-child(2) {
      opacity: 0;
    }
    span:last-child {
      transform: rotate(-45deg) translate(10px, -5px);
    }
  }
}

.menu-links {
  top: 0;
  right: 0;
  background-color: $navy;
  min-width: 100vw;
  max-height: 0;
  overflow: hidden;
  position: absolute;

  margin: 6rem 0;
  &.open {
    min-height: 300vh;

    transition: transform 0.4s ease-in-out;
  }

  & a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: $lightslate;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: $green;
    }
  }

  & li {
    list-style: none;
  }
}
