$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;

$navy: #0a192f;
$navylowop: #0a192f99;
$lightnavy: #112240;
$lightnavy90: #11224090;
$lightestnavy: #3c547e;
$slate: #8892b0;
$lightslate: #cbd8ff;
$lightestslate: #ccd6f6;
$white: #e6f1ff;
$green: #64ffda;
$green90: #64ffda90;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}
