@import "partials";

.links a {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  background-color: $lightnavy;
  border: 1px solid $green;
  border-radius: 0.5rem;
  color: $green;
  padding: 1rem 0;
  margin: 0 auto;
  min-width: calc(100vw - 2rem);

  &:hover {
    background-color: $green;
    color: $lightnavy;
    @include desktop {
      transform: scale(1.1);
    }
  }
  &:focus {
    background-color: $green90;
  }
  @include tablet {
    min-width: 220px;
  }
}

.project {
  margin: 3rem 0;
  & img {
    border: 1px solid $green90;
    border-radius: 0.5rem;
    max-width: calc(100vw - 2rem);
  }
  &__container {
    position: relative;
    background-color: $navylowop;
    height: auto;
    padding-bottom: 2rem;
    border-bottom: 2px solid $lightestnavy;
  }
  & h4 {
    margin-top: 1rem;
  }
  & h3 {
    font-size: 1.5rem;
    @include tablet {
      font-size: 1.75rem;
    }
  }
  & p {
    color: white;
    background-color: $lightnavy90;
    border-radius: 1rem;
    padding: 1rem;
  }
  & ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0.75rem 0;
    max-width: calc(100vw - 2rem);
  }
  & li {
    list-style: none;
    background-color: #112b3a;
    color: $green;
    border-radius: 0.5rem;
    padding: 0.15rem 0.5rem;
  }
}

.project:last-child .project__container {
  padding-bottom: 0;
  border-bottom: none;
}

@include tablet {
  .project {
    margin: 1rem 0 3rem 0;
    & ul {
      max-width: 500px;
    }
    & p {
      padding: 1rem 2rem;
    }
    & img {
      max-width: 100%;
    }
  }
}

@include desktop {
  .project {
    & img {
      border: none;
      position: absolute;
      right: 0;
      display: block;
      filter: blur(0.005px);
      height: 250px;
      z-index: -1;
      padding: 0;
    }
    & p {
      width: 60%;
    }
  }
}
