/* NAV */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
@media screen and (min-width: 768px) {
  nav {
    height: 10vh;
  }
}

.desktop-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .desktop-nav {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1000px;
  }
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.25rem;
}
.nav-links li:hover {
  transform: scale(1.1);
}

.logo {
  font-size: 2rem;
}
.logo:hover {
  transform: scale(1.1);
}

/* MOBILE NAV */
#hamburger-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  #hamburger-nav {
    display: none;
  }
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}
.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: #64ffda;
  transition: all 0.3s ease-in-out;
}
.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}
.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.menu-links {
  top: 0;
  right: 0;
  background-color: #0a192f;
  min-width: 100vw;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  margin: 6rem 0;
}
.menu-links.open {
  min-height: 300vh;
  transition: transform 0.4s ease-in-out;
}
.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: #cbd8ff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.menu-links a:hover {
  color: #64ffda;
}
.menu-links li {
  list-style: none;
}

.about-me {
  display: flex;
  flex-direction: column;
}
.about-me img {
  margin: 0 auto;
  max-width: 70vw;
}
@media screen and (min-width: 768px) {
  .about-me img {
    min-width: 15rem;
  }
}
@media screen and (min-width: 1200px) {
  .about-me img {
    width: 30rem;
  }
}
@media screen and (min-width: 1200px) {
  .about-me {
    flex-direction: row;
    align-items: center;
  }
}
.about-me__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me__container p {
  line-height: 1.8;
  margin-bottom: 1rem;
}

form {
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  form {
    width: 50%;
    max-width: 600px;
  }
}

label {
  font-family: "Space Mono", monospace;
  color: #64ffda;
  font-size: 1.25rem;
  line-height: 1.5;
}

input,
textarea {
  margin: 1rem 0;
  width: 92%;
  padding: 1rem;
}

input {
  background-color: #3c547e;
  border: 1px solid rgba(100, 255, 218, 0.5647058824);
  border-radius: 0.5rem;
  color: #112240;
  font-size: 1.25rem;
}
input:hover {
  background-color: rgba(100, 255, 218, 0.5647058824);
  color: #112240;
  border: 1px solid #64ffda;
}
input:focus {
  background-color: #112240;
  color: #ccd6f6;
  border: 2px solid #64ffda;
}

textarea {
  height: 12rem;
  background-color: #3c547e;
  border: 1px solid rgba(100, 255, 218, 0.5647058824);
  border-radius: 0.5rem;
  color: #112240;
  font-size: 1.25rem;
}
textarea:hover {
  background-color: rgba(100, 255, 218, 0.5647058824);
  color: #112240;
  border: 1px solid #64ffda;
}
textarea:focus {
  background-color: #112240;
  color: #ccd6f6;
  border: 2px solid #64ffda;
}

button {
  width: 100%;
}

.links a {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  background-color: #112240;
  border: 1px solid #64ffda;
  border-radius: 0.5rem;
  color: #64ffda;
  padding: 1rem 0;
  margin: 0 auto;
  min-width: calc(100vw - 2rem);
}
.links a:hover {
  background-color: #64ffda;
  color: #112240;
}
@media screen and (min-width: 1200px) {
  .links a:hover {
    transform: scale(1.1);
  }
}
.links a:focus {
  background-color: rgba(100, 255, 218, 0.5647058824);
}
@media screen and (min-width: 768px) {
  .links a {
    min-width: 220px;
  }
}

.project {
  margin: 3rem 0;
}
.project img {
  border: 1px solid rgba(100, 255, 218, 0.5647058824);
  border-radius: 0.5rem;
  max-width: calc(100vw - 2rem);
}
.project__container {
  position: relative;
  background-color: rgba(10, 25, 47, 0.6);
  height: auto;
  padding-bottom: 2rem;
  border-bottom: 2px solid #3c547e;
}
.project h4 {
  margin-top: 1rem;
}
.project h3 {
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .project h3 {
    font-size: 1.75rem;
  }
}
.project p {
  color: white;
  background-color: rgba(17, 34, 64, 0.5647058824);
  border-radius: 1rem;
  padding: 1rem;
}
.project ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0.75rem 0;
  max-width: calc(100vw - 2rem);
}
.project li {
  list-style: none;
  background-color: #112b3a;
  color: #64ffda;
  border-radius: 0.5rem;
  padding: 0.15rem 0.5rem;
}

.project:last-child .project__container {
  padding-bottom: 0;
  border-bottom: none;
}

@media screen and (min-width: 768px) {
  .project {
    margin: 1rem 0 3rem 0;
  }
  .project ul {
    max-width: 500px;
  }
  .project p {
    padding: 1rem 2rem;
  }
  .project img {
    max-width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .project img {
    border: none;
    position: absolute;
    right: 0;
    display: block;
    filter: blur(0.005px);
    height: 250px;
    z-index: -1;
    padding: 0;
  }
  .project p {
    width: 60%;
  }
}
footer {
  width: 100vw;
  text-align: center;
}

.socials span {
  background-color: #64ffda;
  height: 200px;
  width: 1px;
  position: relative;
  bottom: -10px;
}
@media screen and (min-width: 768px) {
  .socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    position: fixed;
    bottom: 0;
    left: 0;
  }
}
@media screen and (min-width: 768px) {
  .socials-mobile {
    display: none;
  }
}
.socials-desktop {
  display: none;
}
.socials img {
  width: 50px;
  fill: currentColor;
  color: #ccd6f6;
  margin: 0.5rem;
}
.socials img:hover {
  transform: scale(1.1);
}

.credit {
  padding-bottom: 2rem;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #cbd8ff;
  background-color: #0a192f;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  color: #ccd6f6;
  text-decoration: none;
  text-decoration-color: #ccd6f6;
}
a:hover {
  color: #64ffda;
}

h1 {
  font-size: 2.75rem;
  line-height: 3rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.75rem;
    line-height: 3.5rem;
  }
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 4rem;
    line-height: 3.75rem;
  }
}

h1,
h2,
h3 {
  color: #e6f1ff;
}

h2 {
  font-size: 1.5rem;
  margin-right: 2rem;
}

.alt {
  font-size: 2.5rem;
  line-height: 2.25rem;
  color: #ccd6f6;
  padding: 0.5rem 0;
}
@media screen and (min-width: 1200px) {
  .alt {
    font-size: 3rem;
    line-height: 2.75rem;
  }
}

h4 {
  font-family: "Space Mono", monospace;
  color: #64ffda;
  font-size: 1.25rem;
}

.highlight {
  font-weight: 700;
  color: #64ffda;
}

.logo {
  color: #64ffda;
  border: 2px solid #64ffda;
  border-radius: 2rem;
  width: 3rem;
  text-align: center;
}
.logo a {
  color: #64ffda;
}

/* HERO */
#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 85vh;
}
@media screen and (min-width: 768px) {
  #hero {
    padding-bottom: 2rem;
    padding-top: 0;
    margin: auto;
    min-height: 0;
    height: 80vh;
    max-height: 800px;
    border-bottom: none;
    white-space: nowrap;
  }
}

button {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 15px;
  margin: 0.5rem 0;
  padding: 1rem 3rem;
  background-color: #112240;
  border: 1px solid #64ffda;
  border-radius: 0.5rem;
  color: #64ffda;
}
button:hover {
  background-color: #64ffda;
  color: #112240;
  border: 1px solid #112240;
}
button:focus {
  background-color: rgba(100, 255, 218, 0.5647058824);
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  margin: 1rem;
}
@media screen and (min-width: 768px) {
  .btn-container {
    margin: 1rem 0;
    flex-direction: row;
    gap: 2rem;
    width: 15rem;
    white-space: nowrap;
  }
  .btn-container button {
    min-width: 14rem;
  }
}

/* SECTION & HEADERS */
section {
  margin: 1rem;
}
@media screen and (min-width: 768px) {
  section {
    margin: 6rem auto;
    width: 60vw;
    max-width: 1000px;
  }
}
section h2 {
  font-size: 2rem;
  padding: 1rem 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: stretch;
  white-space: nowrap;
}
.header span {
  display: none;
}
@media screen and (min-width: 768px) {
  .header span {
    display: inline-block;
    border-bottom: 2px solid #3c547e;
    width: 100%;
    float: right;
    overflow: auto;
  }
}

/* DESKTOP SOCIALS */
.socials-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .socials-desktop {
    display: flex;
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */