@import "nav";
@import "about";
@import "contact";
@import "projects";
@import "footer";
@import "partials";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: $lightslate;
  background-color: $navy;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  color: $lightestslate;
  text-decoration: none;
  text-decoration-color: $lightestslate;
  &:hover {
    color: $green;
  }
}

h1 {
  font-size: 2.75rem;
  line-height: 3rem;
  @include tablet {
    font-size: 3.75rem;
    line-height: 3.5rem;
  }
  @include desktop {
    font-size: 4rem;
    line-height: 3.75rem;
  }
}

h1,
h2,
h3 {
  color: $white;
}

h2 {
  font-size: 1.5rem;
  margin-right: 2rem;
}
.alt {
  font-size: 2.5rem;
  line-height: 2.25rem;
  color: $lightestslate;
  padding: 0.5rem 0;
  @include desktop {
    font-size: 3rem;
    line-height: 2.75rem;
  }
}

h4 {
  font-family: "Space Mono", monospace;
  color: $green;
  font-size: 1.25rem;
}

.highlight {
  font-weight: 700;
  color: $green;
}

.logo {
  color: $green;
  border: 2px solid $green;
  border-radius: 2rem;
  width: 3rem;
  text-align: center;
  & a {
    color: $green;
  }
}

/* HERO */
#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 85vh;
  @include tablet {
    padding-bottom: 2rem;
    padding-top: 0;
    margin: auto;
    min-height: 0;
    height: 80vh;
    max-height: 800px;
    border-bottom: none;
    white-space: nowrap;
  }
}

button {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 15px;
  margin: 0.5rem 0;
  padding: 1rem 3rem;
  background-color: $lightnavy;
  border: 1px solid $green;
  border-radius: 0.5rem;
  color: $green;

  &:hover {
    background-color: $green;
    color: $lightnavy;
    border: 1px solid $lightnavy;
  }
  &:focus {
    background-color: $green90;
  }
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  margin: 1rem;
  @include tablet {
    margin: 1rem 0;
    flex-direction: row;
    gap: 2rem;
    width: 15rem;
    white-space: nowrap;
    & button {
      min-width: 14rem;
    }
  }
}

/* SECTION & HEADERS */

section {
  margin: 1rem;

  @include tablet {
    margin: 6rem auto;
    width: 60vw;
    max-width: 1000px;
  }

  & h2 {
    font-size: 2rem;
    padding: 1rem 0;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: stretch;
  white-space: nowrap;
  & span {
    display: none;
    @include tablet {
      display: inline-block;
      border-bottom: 2px solid $lightestnavy;
      width: 100%;
      float: right;
      overflow: auto;
    }
  }
}

/* DESKTOP SOCIALS */

.socials-desktop {
  display: none;
  @include tablet {
    display: flex;
    flex-direction: column;
  }
}
